/.idea
/.ipynb_checkpoints
/data
/detection_results
/sandbox
__pycache__
*.zip
/surfemb/custom_patch_extraction/figures
/surfemb/custom_patch_extraction/maskrcnn
/surfemb/custom_patch_extraction/tb_logs
/surfemb/custom_patch_extraction/checkpoints
/surfemb/custom_patch_extraction/terminal_log.txt
