/.idea
/.ipynb_checkpoints
/data
/detection_results
/sandbox
/results
__pycache__
*.zip
/surfemb/patch_extraction/figures
/surfemb/patch_extraction/maskrcnn
/surfemb/patch_extraction/tb_logs
/surfemb/patch_extraction/checkpoints
/surfemb/patch_extraction/terminal_log.txt
*.png